<!DOCTYPE html>
<html>
<head>
    <title>My Gallery</title>
    <style>
        .nav { float: right; }
        .picture-grid { display: grid; grid-template-columns: repeat(5, 1fr); gap: 20px; }
        .picture img { max-width: 200px; max-height: 200px; }
        .btn-link {
            background: none!important;
            border: none;
            padding: 0!important;
            color: #069;
            text-decoration: underline;
            cursor: pointer;
            font-size: 1em;
        }
    </style>
</head>
<body>
    <nav>
        <div class="nav">
            {% if user.is_authenticated %}
                Hello, {{ user.username }}!
                <a href="{% url 'liked-pictures' %}">Liked Pictures</a>
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn-link">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>